<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}

                <tr>

                    <td><img style="width: 70px; height: 70px;" src="/product-images/{{this.product._id}}.jpg" alt="">
                    </td>
                    <td>{{this.product.Name}}</td>
                    <td><span>&#8377</span>{{this.product.Price}}</td>
                    <td>


                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>






                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>




                    </td>
                    
                    <td>
                        <button class="btn btn-danger"
                            onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    <hr>
    <div class="float-right pr-5">
        <h3 class="float-right mr-5 " >Total : Rs:</h3>
    <a href="/place-order" class=" btn btn-success mt-3 " style="width: 100%;">Place Order</a>

    </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>



    function changeQuantity(cartId, ProdId, count) {
    let quantity = parseInt(document.getElementById(ProdId).innerHTML);
    count = parseInt(count);
    $.ajax({
        url: '/change-product-quantity',
        data: {
            cart: cartId,
            product: ProdId,
            count: count,
            quantity: quantity
        },
        method: 'post',
        success: (response) => {
            if (response.removeProduct) {
                alert("Product Removed!")
                location.reload();
            } else {
                document.getElementById(ProdId).innerHTML = response.quantity;
            }
        },
        error: (error) => {
            console.log(error);
        }
    });
}




    function removeProduct(cartId, proId) {
        $.ajax({
            url: '/remove-product',
            data: {
                cart: cartId,
                product: proId
            },
            method: 'post',
            success: (response) => {
                alert("Product Removed!")
                location.reload()
            }
        })
    }
</script>