<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    {{#each product}}
                    <td><img style="width: 70px; height: 70px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
                    <td>{{this.Title}}</td>
                    {{/each}}
                    <td>
                        <a href="/dec-quantity/{{this._id}}" class="cart-item-count mr-3">&minus;</a>
                        <span id="quantity">{{this.quantity}}</span>
                        <a href="/inc-quantity/{{this._id}}" class="cart-item-count ml-3">+</a>
                        



                    </td>
                    <td>{{this.Price}}</td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>
</section>

<style>
    /* Style for increment and decrement buttons */
.cart-item-count {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: white;
  background-color: blue;
  border-radius: 5px;
}

</style>