<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}

                <tr>

                    <td><img style="width: 70px; height: 70px;" src="/product-images/{{this.product._id}}.jpg" alt="">
                    </td>
                    <td>{{this.product.Name}}</td>

                    <td>


                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>






                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>




                    </td>
                    <td>{{this.product.Price}}</td>
                    <td>
                        <button class="btn btn-danger"
                            onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>



    function changeQuantity(cartId, ProdId, count) {
        let quantity = parseInt(document.getElementById(ProdId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: ProdId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (updatedCart) => {
                // Update the quantity displayed in the cart view
                document.getElementById(ProdId).innerHTML = updatedCart.products.find(p => p.item == ProdId).quantity
            }
        })

    }


    function removeProduct(cartId, proId) {
        $.ajax({
            url: '/remove-product',
            data: {
                cart: cartId,
                product: proId
            },
            method: 'post',
            success: (response) => {

                window.location.href = "/cart"
            }
        })
    }
</script>